
.mapped, .no_coordinates {
    display: table-row;
}

.hidden{
	display:none;
}

#table{
	border-collapse: collapse;
}

.text_content{
	padding-left:5px;
}

.current td{
	background-color:#fbb;
}

#review_map{
	position:fixed;
	right:0px; 
	bottom:0px;
	width:500px;
	height:350px;
}

button{
	margin-bottom:20px;
}
