
body {
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-left:40px;
}

h1{	
	color:#cb2f3d;
}

#map{
	width:1000px;
	height:600px;
	margin-bottom:10px;
	float:left;
	margin-right:30px;
}

.bubble{
	width:320px
}

.clear{
	clear:both;
}

.leaflet-popup-content {
	width:auto !important;
}